/*
Theme Name: Volime Agency
Author: Aesthatik Laboratories
Version: 0.9b
*/


/*Font Import*/

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-light-web.eot');
    src: url('fonts/oswald/oswald-light-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald/oswald-light-web.woff2') format('woff2'),
         url('fonts/oswald/oswald-light-web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-medium-web.eot');
    src: url('fonts/oswald/oswald-medium-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald/oswald-medium-web.woff2') format('woff2'),
         url('fonts/oswald/oswald-medium-web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-regular-web.eot');
    src: url('fonts/oswald/oswald-regular-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald/oswald-regular-web.woff2') format('woff2'),
         url('fonts/oswald/oswald-regular-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-semibold-web.eot');
    src: url('fonts/oswald/oswald-semibold-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald/oswald-semibold-web.woff2') format('woff2'),
         url('fonts/oswald/oswald-semibold-web.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-light-web.eot');
    src: url('fonts/roboto/roboto-light-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-light-web.woff2') format('woff2'),
         url('fonts/roboto/roboto-light-web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-medium-web.eot');
    src: url('fonts/roboto/roboto-medium-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-medium-web.woff2') format('woff2'),
         url('fonts/roboto/roboto-medium-web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-regular-web.eot');
    src: url('fonts/roboto/roboto-regular-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-regular-web.woff2') format('woff2'),
         url('fonts/roboto/roboto-regular-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*General ----- Start*/

*{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

*, p, span{
    box-sizing: border-box;
    margin: 0; 
    padding: 0
}

body{
    margin: 0;
    padding-left: 70px;
    padding-top: 150px;
    min-width: 1200px;
    opacity: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

input:focus,
input:hover,
button:focus,
button:hover{
    outline:0;
    -webkit-appearance: none;
}

button{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: none;
}

.box{
    padding: 50px 40px 20px;
}
/*General ----- End*/

/*Header ----- Start*/
.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70px;
    background:#fff;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    z-index: 99;
}

header{
    position: fixed;
    width: 100%;
    height: 150px;
    width: calc(100% - 70px);
    min-width: 1130px;
    display: flex;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255, 0.97);
    z-index: 90;
    top: 0;
    transition: all 0.3s ease-in-out;
}

header.min{
    padding: 10px 40px 10px;
    height: 80px;
}

.logo{
    width: 100px;
}

.logo > h1{
    line-height: 50px;
    font-size: 30px;
    color: #445050;
    font-weight: 400
}

.logo-line{
    width: 100px;
    height: 26px;
    border-bottom: 1px solid #D5D5D5;
    margin: 0px 10px 10px;
}

.main-nav ul li{
    list-style: none; 
    display: inline-block;
}

.main-nav ul li a{
    line-height: 50px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 10px;
    color:#445050;
    transition: all 0.2s ease-in-out;
}

.main-nav ul li a:hover, 
.main-nav ul li a.active,
.footer-nav li a:hover, 
.footer-nav li a.active{
    color: #4FA6A5;
    transition: all 0.2s ease-in-out;
}

.menu-item-type-custom{
    margin-left: 10px;
}

.menu-item-type-custom a:before{
    content: " ";
    display: block;
    position: absolute;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #4FA6A5;
    border-right: 6px solid transparent;
    margin-top: 21px;
}

.subscribe{
    width: 280px;
    margin-left: auto;
    position: relative;
}

.subscribe-field{
    width: 180px;
    height: 30px;
    float: left;
    color:#445050;
    padding: 1px 16px 0px;
    font-size: 12px;
    line-height: 30px;
    border: 1px solid #d5d5d5;
    border-right: 0;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.subscribe-field:focus{
    border: 1px solid #4FA6A5;
    border-right: 0;
    transition: all 0.2s ease-in-out;
}

.subscribe-btn{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 34px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background: #4FA6A5;
    border: 1px solid #4FA6A5;
    border-right: 0;
    cursor: pointer;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.1s ease-in-out;
}

.subscribe-btn:hover,
.subscribe-btn:focus{
    background: #3C8C8B;
    transition: all 0.1s ease-in-out;
}

.subscribe-text{
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    position: relative;
}

.subscribe-text.error{
    color: #E01B67;
}

.subscribe-text:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    background:#fff;
    border:1px solid #D5D5D5;
    transition: all 0.2s ease-in-out;
}

.subscribe-text.error:before{
    border:1px solid #E01B67;
}

input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]:checked + label:before {
    background: #fff;
    border: 1px solid #4FA6A5
}

input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 6px;
    border: solid #4FA6A5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 3px;
    left: 5px;
}

input[type="checkbox"]:checked + label{
    color: #4FA6A5!important;
}

.invalid-email-error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #E01B67;
    color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 70px;
    left: 0;
    top: 30px;
    z-index: 9;
    transition: all 0.2s ease-in-out;
}

.invalid-email-error:before{
    content: " ";
    display: block;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 6px solid #E01B67;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -12px;
    margin-left: 10px;
}

.invalid-email + .invalid-email-error{
    visibility: visible;
    opacity: 1;
}
/*Header ----- End*/

/*Tagline ----- Start*/
.tagline-panel{
    width: 100%;
    height: 425px;
}

.main-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:#445050;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
}

.highlight-text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color:#4FA6A5;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

.tagline-services-list{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tagline-services-list li {
    list-style: none;
    padding-left: 20px;
}

.tagline-services-list li::before {
    content: "\2022";
    font-size: 30px;
    color: #4FA6A5;
    position: absolute;
    margin-left: -20px;
    line-height: 20px;
}

.tagline-services-list li > p{
    font-size: 14px;
    color: #445050;
}

.tagline-services-list li > p.sub{
    font-size: 10px;
    color: #445050;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
}
/*Tagline ----- End*/

/*Story ----- Start*/
.stories-panel{
    background: #ECF6F6;
}

.stories-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.story-box{
    height: 300px;
    background: #4FA6A5;
    margin: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    box-sizing: border-box;
    flex:1 1 auto;
}

.flex-type-1 > .story-box:nth-of-type(1),
.flex-type-1 > .story-box:nth-of-type(2),
.flex-type-1 > .story-box:nth-of-type(6),
.flex-type-1 > .story-box:nth-of-type(7){
    flex-basis: calc(30% - 10px);
}


.flex-type-1 > .story-box:nth-of-type(3),
.flex-type-1 > .story-box:nth-of-type(8){
    flex-basis: calc(40% - 10px);
}

.flex-type-1 > .story-box:nth-of-type(4){
    flex-basis: calc(65% - 10px)
}
.flex-type-1 > .story-box:nth-of-type(5){
    flex-basis: calc(35% - 10px)
}

.story-details{
    background: rgba(0,0,0,0.6);
    height: 100px;
    width: 100%;
    padding: 20px 8px;
    position: absolute;
    bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.story-box:hover > .story-details{
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}

.story-user-image{
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #333;
    margin-right: 12px;
    background-size: cover!important; 
}

.story-user-details{
    width: 170px;
}

.user-name{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.user-followers{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #d2d2d2;
    line-height: 12px;
}

.user-followers-count{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.story-user-link{
    background: #4FA6A5;
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    margin-left: auto;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
}

.story-user-link:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}
/*Story ----- End*/

/*Single Story ----- Start*/

.single-story-box{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.single-story-header{
    padding: 20px 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.single-story-header .user-name{
    color: #445050;
}
.single-story-header .user-followers{
    color: #445050;
    float:left;
    margin-right: 20px;
}

.single-story-header .story-user-details {
    width: 300px;
}

.single-story-header .user-followers-count{
    color: #4FA6A5;
}

.single-story-content{
    padding: 20px 20px;
    background: #fff;
}

.content-block{
    padding: 20px 0px;
}

.content-title{
    color: #445050;
    margin-bottom: 15px;
}

.content-text,
.content-text *{
    color: #445050;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.content-text h2{
    margin-bottom: 10px;
}

.content-text a{
    font-weight:bold;
    text-decoration: none;
    color: #4FA6A5;
}

.content-text a:hover{
    color: #3C8C8B;
}

.story-image-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 40px 0px 25px;
}

.image-grid.image{
    flex-basis: 30%; 
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 300px;
    background-size: cover!important;
}

.chart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chart > .content-title{
    flex-basis:50%
}

.chart-block{
    flex-basis: 50%;
    margin: 40px 0px;
    text-align: center;
}

/* polygon#main-chart-before,
polygon#main-chart-after {
    stroke: #A8D2D1;
    stroke-width: 6px;
    stroke-linejoin: round;
}

polygon#bg-chart-before,
polygon#bg-chart-after {
    stroke: #7CBCBA;
    stroke-width: 6px;
    stroke-linejoin: round;
} */
/*Single Story ----- End*/

/*Services----- Start*/

.services{
    background: url("imgs/services.jpg") no-repeat center;
    background-size: cover;
    height: auto; 
}

.services-box{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-box{
    width: 288px;
    height: 425px; 
    margin-bottom: 80px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 20px;
    position: relative;
}

.service-header{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.service-title{
    color: #445050;
    line-height: 16px;
}

.service-subtitle{
    font-family: 'Oswald', sans-serif;
    color: #4FA6A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.service-icons{
    margin-left: auto;
    display: flex;
}

.service-icon{
    display:block; 
    height: 20px; 
    width: 20px;
    margin-left: 15px;
}

.icon{
    display:block; 
    height: 20px; 
    width: 20px;
}

.si-facebook{
    background: url("imgs/icons/facebook.png") no-repeat center;
    background-size: contain;
}

.si-instagram{
    background: url("imgs/icons/instagram.png") no-repeat center;
    background-size: contain;
}

.si-linkedin{
    background: url("imgs/icons/linkedin.png") no-repeat center;
    background-size: contain;
}

.si-facebook.hover:hover{
    background: url("imgs/icons/facebook-h.png") no-repeat center;
    background-size: contain;
}

.si-instagram.hover:hover{
    background: url("imgs/icons/instagram-h.png") no-repeat center;
    background-size: contain;
}

.si-linkedin.hover:hover{
    background: url("imgs/icons/linkedin-h.png") no-repeat center;
    background-size: contain;
}

.si-photoshop{
    background: url("imgs/icons/photoshop.png") no-repeat center;
    background-size: contain;
}

.si-illustrator{
    background: url("imgs/icons/illustrator.png") no-repeat center;
    background-size: contain;
}

.si-seo{
    background: url("imgs/icons/seo.png") no-repeat center;
    background-size: contain;
}

.si-wordpress{
    background: url("imgs/icons/wordpress.png") no-repeat center;
    background-size: contain;
}

.service-description{
    font-size: 13px;
    color: #445050;
    margin-bottom: 40px;
}

.service-list{
    list-style: none;
    height: 132px; 
    margin-bottom: 30px;
}

.service-list li{
    background: url("imgs/icons/list-icon.png") no-repeat left center;
    padding-left: 20px;
    background-size: 12px!important;
}

.service-list > li p{
    font-size: 13px; 
    line-height: 22px;
    font-weight: 500;
    color: #445050
}

.price-group{
    display: flex;
    justify-content: center;
}

.price-group > span{
    font-size: 20px;
    color: #445050;
}

.price{
    font-size: 40px; 
    color: #4FA6A5;
    padding-left: 5px;
}

.service-btn {
    position: absolute;
    bottom: -20px;
    left: 64px;
    background: #4FA6A5;
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    line-height: 30px;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
    border: none;
}

.service-btn:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}
/*Services ----- End*/

/*Footer ----- Start*/

footer {
    display:flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    background: #fff;
}

.wp15{width: 15%}
.wp20{width: 20%}
.wp25{width: 25%;}
.wp40{width: 40%;}
.wp50{width: 50%;}

.footer-nav{
    padding: 0;
    margin: 40px 0 0;
}

.footer-nav li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li a{
    line-height: 30px;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 5px 0px;
    color: #7B8C8C;
    transition: all 0.2s ease-in-out;
}

.copyright{
    width: 100%;
    font-size: 12px; 
    color:#7b8c8c;
    text-align: center;
    margin: 0;
    padding: 40px 0 0;
}

.hi-count{
    color: #4FA6A5;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

/*Footer ----- End*/

/*Service Modals ----- Start*/

.service-modal{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 600px;
    height: 440px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    z-index: 910;
    top: 20%;
    left: 50%;
    margin-left: -300px;
    transition: all 0s ease-in-out;
}

.service-modal-header{
    height:60px;
    padding: 20px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.service-modal-header h4 span{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #4FA6A5;
}

.close-modal{
    margin-left: auto;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    color: #445050;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: -15px;
    top: -15px;
    background: #fff;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.service-modal-content{
    height: 320px;
    padding: 20px;
    display: flex;
}

.service-modal-content-details,
.service-modal-content-form{
    width: 50%;
}

.service-modal-content-form > div{
    margin-bottom: 5px;
}

.service-modal-content-details h5,
.service-modal-content-form h5{
    margin-bottom: 20px;
}

.service-modal-footer{
    height:60px;
    padding: 20px;
    border-top: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.service-modal-footer > .buttons{
    margin-left: auto;
}

.buttons > button{
    border: none; 
    font-size: 14px;
    margin-left: 40px;
    text-transform: uppercase;
}

.cancel-btn{
    color: #7B8C8C
}

.submit-btn{
    color: #4FA6A5;
    font-weight: 500;
}

.modal-backdrop{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.6);
    z-index: 900;
    transition: all 0.6s ease-in-out;
}

.modal-backdrop.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.service-modal.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.service-modal-content-details .price-group{
    justify-content: start;
}

input[type='text']{
    width: 100%; 
    border:none; 
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px; 
    color: #445050; 
    height: 48px; 
    margin-bottom: 2px; 
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    padding: 0px 12px;
}

input[type='text']:focus{
    border-bottom: 1px solid #4FA6A5;
    outline: 0; 
}

textarea{
    width: 100%; 
    border:none; 
    border: 1px solid #d2d2d2;
    font-size: 12px; 
    color: #445050; 
    height: 80px; 
    margin-bottom: 2px; 
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    padding: 12px; 
    border-radius: 4px;
    resize: none;
    overflow: auto;
}

textarea:focus{
    outline: none; 
    border: 1px solid #4FA6A5;
}
/*Service Modals ----- End*/

/*Blog ------- Start*/

.blog-hero{
    background: url("imgs/blog.png");
    background-repeat: no-repeat!important;
    background-position: center 70%!important;
    background-size: cover!important;
    height: 400px;
    width: 100%;
    opacity: 0.2;
    top:0;
    left: 0;
    position: absolute;
    z-index: -10;
}

.blog-hero.single{
    height: 600px;
}

.blog-box{
    margin-bottom: 8px;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.blog-box-single{
    margin-bottom: 8px;
    background: rgba(255,255,255,0.9);
}

.blog-box:hover{
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.blog-box.story{
    margin-bottom: 50px;
}

.blog-box > a{
    display: flex;
}

.blog-thumbnail{
    width: 300px;
    height: 200px;
    background-size: cover!important;
    background-position: center!important;
    flex-grow: 0;
    flex-shrink: 0;
}

.blog-content{
    padding: 20px 40px 20px 20px;
    position: relative;
}

.blog-content.single{
    padding: 40px 40px 20px 20px;
}

span.read-more {
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    color: #4FA6A5;
    font-weight: 500;
}

.content-text.blog{
    max-height: 90px;
    overflow: hidden;
}

.blog-tags{
    height: 28px; 
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    padding: 4px 0px;
}

.blog-tags.single{
    background: none; 
    margin-bottom: 20px;
}

.tag-list{
    display: flex;
    align-items: center;
}

.tag-list > li{
    list-style: none; 
    height: 20px; 
    line-height: 20px; 
    font-size: 11px;
    text-transform: uppercase;
    background: #4FA6A5;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.tag-list > li:hover{
    background: #3C8C8B;
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.tag-list > li a{
    color: #fff; 
    text-decoration: none;
    padding: 0px 12px;
}

.archive-title{
    margin-bottom: 40px;
    color: #445050;
    font-weight: 200;
}

.archive-title.single{
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
}

.page-numbers{
    color: #fff;
    background: #4FA6A5;
    border: 1px solid transparent;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 5px;
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.page-numbers:hover{
    background: #3C8C8B;
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.page-numbers.current{
    color: #4FA6A5;
    background: #fff;
    border: 1px solid #4FA6A5;
}

/*Blog --------- End*/

/*Info modal --------- Start*/

.info-modal{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 360px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    z-index: 910;
    top: 20%;
    left: 50%;
    margin-left: -180px;
    transition: all 0s ease-in-out;
}

.info-modal.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.info-modal-icon{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.info-modal-icon.mail{
    background: #4FA6A5 url('imgs/icons/mail-send.png') no-repeat center;
    background-size: 50px;
}

.info-modal-icon.hi{
    background: #4FA6A5 url('imgs/icons/coffee-cup.png') no-repeat center;
    background-size: 50px;
}

.info-modal-icon.subscription{
    background: #4FA6A5 url('imgs/icons/subscription.png') no-repeat center;
    background-size: 50px;
}

.info-modal-footer {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d8d8d8;
}

.info-modal-footer .service-icon{
    margin: 0 8px;
}

.info-modal-header {
    text-align: center;
    padding: 0px 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #445050;
}

.info-modal-text {
    text-align: center;
    padding: 0px 20px;
    color: #445050;
    font-size: 13px;
}

.info-modal-text a{
    display: none;
}

/*Info modal --------- End*/


/*Latest Blogs --------- Start*/

.latest-blog-posts{
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.latest-blog-post{
    list-style: none;
    width: 28%;
    height: 500px;
}

.latest-blog-post-cover{
    height: 300px;
    width: 100%;
    background-size: cover!important;
}

.latest-blog-header{
    display:flex;
    margin-top: 20px;
}

.latest-blog-header > h4{
    color: #445050
}

.latest-blog-header > span{
    margin-left: auto;
}

.latest-blog-header > span > a{
    font-size: 11px;
    text-transform: uppercase;
    color: #4FA6A5;
    font-weight: 500;
}

.latest-blog-post-date{
    font-size: 11px;
    text-transform: uppercase;
    color: #7B8C8C;
    font-weight: 500;
}

.latest-blog-post-text{
    color: #445050;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.latest-blog-post-link{
    display:block;
    margin-left: auto;
}

/*Latest Blogs --------- End*/

/*Contact form --------- Start*/

.contact{
    background: #2d2d2d
}

.contact .main-text{
    color: #fff;
}

.contact-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-box > div{
    width: 28%;
    margin-bottom: 40px;
}

.contact-box > div.message-box{
    width: 92%;
}

.contact-box > div.confirm{
    width: 92%;
    display: flex;
    justify-content: center;
} 

.contact-box > div.contact-btn-box{
    margin-bottom: 20px;
}

.contact-box input[type="text"]{
    width: 100%;
    color:#fff;
    background: #2d2d2d;
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
}

.contact-box textarea{
    width: 100%;
    color:#fff;
    background: #2d2d2d;
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
}

.range-slider{
    width: 28%;
    margin-bottom: 60px;
}

.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #212121;
    outline: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4FA6A5;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #3C8C8B;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #3C8C8B;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #4FA6A5;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #3C8C8B;
}

.range-slider__range:active::-moz-range-thumb {
    background: #3C8C8B;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #212121, 0 0 0 6px #3C8C8B;
}

.range-slider__value{
    color:#4FA6A5;
    font-size: 32px;
    padding:0px 5px;
}

.range-placeholder{
    width: 28%;
}

.estimated-budget{
    color:#fff;
    font-size: 14px;
    margin-top: 30px;
    display: block;
}

label {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.contact-btn {
    background: #4FA6A5;
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    line-height: 30px;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
    border: none;
}

.contact-btn:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}

.contact-btn-mid{
    padding: 0px 60px 0px 20px;
    color:#ccc;
    font-size:12px;
}

.contact-btn-hi{
    padding-left: 20px;
    color:#4FA6A5;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor:pointer;
}

.contact-btn-hi:hover{
    color: #3C8C8B;
}

.contact-form-text {
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    height: 12px;
    margin-left: -114px;
    position: relative;
}

.contact-form-text.error{
    color: #E01B67;
}

.contact-form-text a {
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    height: 12px;
    text-decoration: underline;
}

.contact-form-text:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    background:#fff;
    border:1px solid #D5D5D5;
    transition: all 0.2s ease-in-out;
}

.contact-form-text.error:before{
    border:1px solid #E01B67;
}

/*Contact form --------- End*/

/*Datepicker ---------- Start*/
#ui-datepicker-div{
    width: 260px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    display: none;
}

.ui-datepicker-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.ui-datepicker-title{
    flex-basis: 80%;
    text-align: center;
    order: 2;
}

.ui-datepicker-title > span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #445050;
}

.ui-datepicker-prev{
    order:1;
    border: 6px solid #4FA6A5;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 0px solid transparent;
    height: 4px;
}

.ui-datepicker-next{
    order:3;
    border: 6px solid #4FA6A5;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0px solid transparent;
    height: 4px;
}

.ui-datepicker-prev,
.ui-datepicker-next{
    flex-basis: 20%;
    text-align: center;
    flex: 1;
    margin-top: 8px;
}

.ui-datepicker-next > span,
.ui-datepicker-prev > span{
    display: none;
}

table.ui-datepicker-calendar {
    width: 100%;
}

table.ui-datepicker-calendar th span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #445050;
}

table.ui-datepicker-calendar td{
    text-align: center;
    padding: 6px 0px;
}

table.ui-datepicker-calendar td a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #445050;
}

table.ui-datepicker-calendar td a:hover{
    color: #4FA6A5;
    font-weight: bold;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day{
    background: #4FA6A5;
    border-radius: 50%;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day a{
    color: #fff;
}

table.ui-datepicker-calendar td.ui-datepicker-today,
table.ui-datepicker-calendar td.ui-datepicker-today.ui-datepicker-current-day{
    background: #fff;
    border: 1px solid #4FA6A5;
    border-radius: 50%;
}

table.ui-datepicker-calendar td.ui-datepicker-today a,
table.ui-datepicker-calendar td.ui-datepicker-today.ui-datepicker-current-day a{
    color: #4FA6A5;
    font-weight: bold;
}
/*Datepicker ---------- End*/

/*Social Media bar -------- Start*/
.social-media-links {
    position: relative;
    top: 50%;
    height: 210px;
    margin-top: -105px;
}

.social-media-links a{
    display: block;
    width: 20px;
    margin: 35px auto 35px;

}
/*Social Media bar -------- End*/

.lbp-mobile{
    display:none;
}

.is-required{
    border-color: #E01B67!important;
}

.error-message{
    display: block;
    color: #E01B67;
    font-size: 10px;
    opacity: 0;
    line-height: 12px;
}

.error-message.error{
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.contact-box input:-webkit-autofill,
.contact-box input:-webkit-autofill:hover, 
.contact-box input:-webkit-autofill:focus, 
.contact-box input:-webkit-autofill:active,
.contact-box textarea:-webkit-autofill,
.contact-box textarea:-webkit-autofill:hover, 
.contact-box textarea:-webkit-autofill:focus, 
.contact-box textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
    color:#fff!important;
    -webkit-text-fill-color: #fff!important;
}

.w150{min-width: 150px;max-width: 150px;}
.w200{min-width: 200px;max-width: 200px;}
.h-auto{height: auto;}
.m0{margin: 0}
.ms0 .subscribe{margin: 0}
.mt22{margin-top: 22px;}
.mt30{margin-top: 30px;}
.mt44{margin-top: 44px;}
.mt48{margin-top: 48px;}
.mt90{margin-top: 90px;}

.mb100{margin-bottom: 100px!important;}

.pl-14{padding-left:14px;}

.pull-left{float:left;}
.pull-right{float:right;}

.b-top{border-top: 1px solid #eee;}
.b-bottom{border-bottom: 1px solid #eee;}

/*High Resolutions*/
@media screen and (min-width: 1600px) {
    .box {
      padding: 50px 15% 20px
    }
}

/*Mobile CSS*/

body.mobile{
    min-width: 100%;
    padding: 0;
}

.mobile .box{
    padding: 50px 20px 20px;
}

.mobile div.box{
    min-height: 100vh;
    height: auto;
}

body.fade-in{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.mobile .side-bar{
    width: 100%;
    height: 40px;
    top: auto;
    bottom: 0;
    z-index: 1000;
}

.mobile .social-media-links{
    height: 40px;
    display: flex;
    margin-top: 0;
    top: 0;
    justify-content: center;
}

.mobile .social-media-links a{
    height: 30px;
    display: flex;
    margin-top: 0;
    top: 0;
    margin: 10px 25px 0 25px;
}

.mobile header{
    width: 100%;
    min-width: 100%;
    bottom: 40px;
    top: auto;
    height: 60px;
    padding: 0!important;
    z-index: 999;
}

.mobile .logo-line{
    display: none;
}

.mobile .logo{
    width: 30%;
    text-align: center;
    height: 60px;
}

.mobile .logo h1{
    line-height: 60px;
    font-size: 26px;
    height: 55px;
    margin-top: 3px;
}

.mobile .main-nav{
    width: 70%;
}

.mobile .main-nav li{
    width: 25%;
    margin: 0;
    text-align: center;
}

.mobile .main-nav li a{
    display: block;
    width: 100%;
    padding: 0;
    color: transparent!important;
    background-size: 20px!important;
    height: 60px;
}

.mobile .main-nav a:before{
    display: none;
}

.mobile #menu-header-menu{
    display: flex;
}

.mobile .subscribe{
    display:none;
}

.mobile .main-nav li:first-child a{
    background: url("imgs/icons/mobile/blog.png") no-repeat center;
}

.mobile .main-nav li:nth-child(2) a{
    background: url("imgs/icons/mobile/stories.png") no-repeat center;
}

.mobile .main-nav li:nth-child(3) a{
    background: url("imgs/icons/mobile/services.png") no-repeat center;
}

.mobile .main-nav li:nth-child(4) a{
    background: url("imgs/icons/mobile/contact.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:first-child a{
    background: url("imgs/icons/mobile/blog-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(2) a{
    background: url("imgs/icons/mobile/stories-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(3) a{
    background: url("imgs/icons/mobile/services-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(4) a{
    background: url("imgs/icons/mobile/contact-h.png") no-repeat center;
}

.mobile .main-text{
    width: 100%;
    font-size: 26px;
    line-height: 34px;
}

.mobile .tagline-services-list{
    width: 100%;
    display: block; 
    text-align: center;
    margin-bottom: 40px;
}

.mobile .tagline-services-list li{
    list-style: none; 
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.mobile .tagline-services-list li:before{
    display: none;
}

.mobile .tagline-services-list li > p{
    font-size: 16px;
}

.mobile .tagline-services-list li > p.sub{
    font-size: 12px;
}

.mobile .story-box{
    flex-basis: 100%!important;
}

.mobile .story-details{
    bottom: 0;
}

.mobile .mb100{
    margin-bottom: 50px!important;
}

.mobile .services-box{
    width: 100%;
    display: block;
}

.mobile .service-box{
    margin: 0 auto;
    margin-bottom: 40px;
    height: auto;
}

.mobile .service-description{
    margin-bottom: 20px;
}

.mobile .service-list{
    height: auto;
    margin-bottom: 20px;
}

.mobile .lbp-mobile{
    display:block;
}

.mobile .lbp-desktop{
    display:none;  
}

.mobile .latest-blog-posts li:nth-child(2),
.mobile .latest-blog-posts li:nth-child(3){
    display:none;
}

.mobile .latest-blog-post{
    width: 100%;
}

.mobile .contact-box > div,
.mobile .contact-box > div.confirm,
.mobile .contact-box > div.message-box {
    width: 100%;
}

.mobile .range-slider{
    margin-bottom: 10px!important;
}

.mobile .range-placeholder{
    text-align: center;
    margin-bottom: 0!important;
}

.mobile .estimated-budget{
    margin-top: 10px;
    margin-bottom: 40px;
}

.mobile .contact-box > div.confirm{
    justify-content: initial;
}

.mobile .contact-form-text{
    margin-left: 0;
    line-height: 24px;
}

.mobile .contact-form-text:before {
    width: 22px;
    height: 22px;
}

.mobile input[type="checkbox"]:checked + label.contact-form-text:after {
    width: 6px;
    height: 12px;
    border-width: 0 4px 4px 0;
    top: 3px;
    left: 7px;
}

.mobile footer > div{
    width: 50%!important;
}

.mobile footer .logo{
    text-align: left;
}

.mobile .single-story-box{
    width: 100%;
    padding: 50px 20px;
}

.mobile .single-story-box h1{
    text-align: center;
}

.mobile .blog-box > a{
    display: block;
}

.mobile .blog-thumbnail {
    width: 100%;
    overflow: hidden;
}

.mobile .blog-hero{
    display: none; 
    background: none!important;
}

.mobile .blog-content{
    padding: 20px 20px 40px;
}

.mobile .single-story-header,
.mobile .single-story-content{
    padding: 20px 0px;
}

.mobile .single-story-header{
    display: block;
    padding-top: 0px;
}

.mobile .single-story-header .story-user-image{
    margin: 0 auto;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}

.mobile .single-story-header .user-name{
    font-size: 26px;
    margin-bottom: 10px;
}

.mobile .single-story-header .story-user-details{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.mobile .single-story-header .user-followers{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    float: none;
}

.mobile .single-story-header .story-user-link{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    line-height: 34px;
}

.mobile .story-image-grid{
    padding: 15px 0 15px;
    justify-content: space-between;
}

.mobile .image-grid.image{
    height: 100px;
}

.mobile .hide-mobile{
    display: none;
}

.mobile footer{
    padding-bottom: 140px!important;
}


.mobile .blog-box{
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.mobile .service-modal{
    width: calc(100% - 10px);
    left: 5px;
    margin-left: 0;
    top: auto;
    bottom: 10px;
    height: auto;
}

.mobile .close-modal{
    top: -45px;
    right: 0px;
}

.mobile .info-modal{
    width: calc(100% - 10px);
    left: 5px;
    margin-left: 0;
    top: 60px;
}

.mobile input[type='text']{
    height: 28px;
}

.mobile .service-modal-content-details{
    display: none;
}

.mobile .service-modal-content-form{
    width: 100%;
}

.mobile .service-modal-content{
    height: 260px;
}

.mobile-subscribe-btn{
    display:none;
}

.mobile .mobile-subscribe-btn{
    display:block;
    position: fixed;
    bottom: 120px;
    background:#4FA6A5 url("imgs/icons/subscription.png") no-repeat center;
    background-size: 20px!important; 
    color: #fff;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    right: 10px;
    -webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
}

.mobile .mobile-subscribe-btn.open{
    bottom: 140px;
    background:#E01B67 url("imgs/icons/subscription.png") no-repeat center;
}

.mobile .subscribe.mobile-subscribe{
    display: flex!important;
    position: fixed;
    bottom: 40px;
    background: #fff;
    width: 100%;
    padding: 12px 20px;
    left: 0px;
    justify-content: center;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.mobile.keyboard header,
.mobile.keyboard .side-bar,
.mobile.modal-open .side-bar,
.mobile.modal-open header{
    display: none;
}

.mobile .latest-blog-post-date {
    width: 100%;
    text-align: center;
    display: block;
}

.mobile .single .tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile .single .tag-list li{
    margin: 5px;
}

.mobile .blog-tags.single{
    height: auto;
}

.mobile .subscribe-text{
    margin-top: 12px;
}

.mobile .stories-box {
    height: 930px;
    overflow: hidden;
}

/*Retina media*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .si-facebook{
        background: url("imgs/icons/facebook@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-instagram{
        background: url("imgs/icons/instagram@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-linkedin{
        background: url("imgs/icons/linkedin@2x.png") no-repeat center;
        background-size: contain;
    }

    .si-facebook.hover:hover{
        background: url("imgs/icons/facebook-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-instagram.hover:hover{
        background: url("imgs/icons/instagram-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-linkedin.hover:hover{
        background: url("imgs/icons/linkedin-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-photoshop{
        background: url("imgs/icons/photoshop@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-illustrator{
        background: url("imgs/icons/illustrator@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-seo{
        background: url("imgs/icons/seo@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-wordpress{
        background: url("imgs/icons/wordpress@2x.png") no-repeat center;
        background-size: contain;
    }

    .info-modal-icon.mail{
        background: #4FA6A5 url('imgs/icons/mail-send@2x.png') no-repeat center;
        background-size: 50px;
    }

    .info-modal-icon.hi{
        background: #4FA6A5 url('imgs/icons/coffee-cup@2x.png') no-repeat center;
        background-size: 50px;
    }

    .info-modal-icon.subscription{
        background: #4FA6A5 url('imgs/icons/subscription@2x.png') no-repeat center;
        background-size: 50px;
    }

    .service-list li{
        background: url("imgs/icons/list-icon@2x.png") no-repeat left center;
    }

    .mobile .main-nav li:first-child a{
        background: url("imgs/icons/mobile/blog@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(2) a{
        background: url("imgs/icons/mobile/stories@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(3) a{
        background: url("imgs/icons/mobile/services@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(4) a{
        background: url("imgs/icons/mobile/contact@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:first-child a{
        background: url("imgs/icons/mobile/blog-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(2) a{
        background: url("imgs/icons/mobile/stories-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(3) a{
        background: url("imgs/icons/mobile/services-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(4) a{
        background: url("imgs/icons/mobile/contact-h@2x.png") no-repeat center;
    }
}






