
.blog-hero{
    background: url("imgs/blog.png");
    background-repeat: no-repeat!important;
    background-position: center 70%!important;
    background-size: cover!important;
    height: 400px;
    width: 100%;
    opacity: 0.2;
    top:0;
    left: 0;
    position: absolute;
    z-index: -10;
}

.blog-hero.single{
    height: 600px;
}

.blog-box{
    margin-bottom: 8px;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.blog-box-single{
    margin-bottom: 8px;
    background: rgba(255,255,255,0.9);
}

.blog-box:hover{
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.blog-box.story{
    margin-bottom: 50px;
}

.blog-box > a{
    display: flex;
}

.blog-thumbnail{
    width: 300px;
    height: 200px;
    background-size: cover!important;
    background-position: center!important;
    flex-grow: 0;
    flex-shrink: 0;
}

.blog-content{
    padding: 20px 40px 20px 20px;
    position: relative;
}

.blog-content.single{
    padding: 40px 40px 20px 20px;
}

span.read-more {
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    color: #4FA6A5;
    font-weight: 500;
}

.content-text.blog{
    max-height: 90px;
    overflow: hidden;
}

.blog-tags{
    height: 28px; 
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    padding: 4px 0px;
}

.blog-tags.single{
    background: none; 
    margin-bottom: 20px;
}

.tag-list{
    display: flex;
    align-items: center;
}

.tag-list > li{
    list-style: none; 
    height: 20px; 
    line-height: 20px; 
    font-size: 11px;
    text-transform: uppercase;
    background: #4FA6A5;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.tag-list > li:hover{
    background: #3C8C8B;
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.tag-list > li a{
    color: #fff; 
    text-decoration: none;
    padding: 0px 12px;
}

.archive-title{
    margin-bottom: 40px;
    color: #445050;
    font-weight: 200;
}

.archive-title.single{
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
}

.page-numbers{
    color: #fff;
    background: #4FA6A5;
    border: 1px solid transparent;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 5px;
    -webkit-box-shadow: 0 10px 6px -6px transparent;
    -moz-box-shadow: 0 10px 6px -6px transparent;
	box-shadow: 0 10px 6px -6px transparent;
    transition: all 0.2s ease-in-out;
}

.page-numbers:hover{
    background: #3C8C8B;
    -webkit-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	-moz-box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
	box-shadow: 0 10px 6px -6px rgba(31,77,77,0.2);
}

.page-numbers.current{
    color: #4FA6A5;
    background: #fff;
    border: 1px solid #4FA6A5;
}
