
.contact{
    background: #2d2d2d
}

.contact .main-text{
    color: #fff;
}

.contact-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-box > div{
    width: 28%;
    margin-bottom: 40px;
}

.contact-box > div.message-box{
    width: 92%;
}

.contact-box > div.confirm{
    width: 92%;
    display: flex;
    justify-content: center;
} 

.contact-box > div.contact-btn-box{
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contact-box input[type="text"]{
    width: 100%;
    color:#fff;
    background: #2d2d2d;
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
}

.contact-box textarea{
    width: 100%;
    color:#fff;
    background: #2d2d2d;
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
}

.range-slider{
    width: 28%;
    margin-bottom: 60px;
}

.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #212121;
    outline: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4FA6A5;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #3C8C8B;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #3C8C8B;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #4FA6A5;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #3C8C8B;
}

.range-slider__range:active::-moz-range-thumb {
    background: #3C8C8B;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #212121, 0 0 0 6px #3C8C8B;
}

.range-slider__value{
    color:#4FA6A5;
    font-size: 32px;
    padding:0px 5px;
}

.range-placeholder{
    width: 28%;
}

.estimated-budget{
    color:#fff;
    font-size: 14px;
    margin-top: 30px;
    display: block;
}

label {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.contact-btn {
    background: #4FA6A5;
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    line-height: 30px;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
    border: none;
}

.contact-btn:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}

.contact-btn-mid{
    padding: 0px 10px 0px 20px;
    color:#ccc;
    font-size:12px;
}

.contact-btn-hi{
    padding-left: 20px;
    color:#4FA6A5;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor:pointer;
}

.contact-btn-hi:hover{
    color: #3C8C8B;
}

.contact-form-text {
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    height: 12px;
    position: relative;
}

.contact-form-text.error{
    color: #E01B67;
}

.contact-form-text a {
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    height: 12px;
    text-decoration: underline;
}

.contact-form-text:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    background:#fff;
    border:1px solid #D5D5D5;
    transition: all 0.2s ease-in-out;
}

.contact-form-text.error:before{
    border:1px solid #E01B67;
}
