#ui-datepicker-div{
    width: 260px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    display: none;
}

.ui-datepicker-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.ui-datepicker-title{
    flex-basis: 80%;
    text-align: center;
    order: 2;
}

.ui-datepicker-title > span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #445050;
}

.ui-datepicker-prev{
    order:1;
    border: 6px solid #4FA6A5;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 0px solid transparent;
    height: 4px;
}

.ui-datepicker-next{
    order:3;
    border: 6px solid #4FA6A5;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0px solid transparent;
    height: 4px;
}

.ui-datepicker-prev,
.ui-datepicker-next{
    flex-basis: 20%;
    text-align: center;
    flex: 1;
    margin-top: 8px;
}

.ui-datepicker-next > span,
.ui-datepicker-prev > span{
    display: none;
}

table.ui-datepicker-calendar {
    width: 100%;
}

table.ui-datepicker-calendar th span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #445050;
}

table.ui-datepicker-calendar td{
    text-align: center;
    padding: 6px 0px;
}

table.ui-datepicker-calendar td a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #445050;
}

table.ui-datepicker-calendar td a:hover{
    color: #4FA6A5;
    font-weight: bold;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day{
    background: #4FA6A5;
    border-radius: 50%;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day a{
    color: #fff;
}

table.ui-datepicker-calendar td.ui-datepicker-today,
table.ui-datepicker-calendar td.ui-datepicker-today.ui-datepicker-current-day{
    background: #fff;
    border: 1px solid #4FA6A5;
    border-radius: 50%;
}

table.ui-datepicker-calendar td.ui-datepicker-today a,
table.ui-datepicker-calendar td.ui-datepicker-today.ui-datepicker-current-day a{
    color: #4FA6A5;
    font-weight: bold;
}