@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-light-web.eot');
    src: url('fonts/oswald/oswald-light-web.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-medium-web.eot');
    src: url('fonts/oswald/oswald-medium-web.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-regular-web.eot');
    src: url('fonts/oswald/oswald-regular-web.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-semibold-web.eot');
    src: url('fonts/oswald/oswald-semibold-web.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-light-web.eot');
    src: url('fonts/roboto/roboto-light-web.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-medium-web.eot');
    src: url('fonts/roboto/roboto-medium-web.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-regular-web.eot');
    src: url('fonts/roboto/roboto-regular-web.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}