
footer {
    display:flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    background: #fff;
}

.wp15{width: 15%}
.wp20{width: 20%}
.wp25{width: 25%;}
.wp40{width: 40%;}
.wp50{width: 50%;}

.footer-nav{
    padding: 0;
    margin: 40px 0 0;
}

.footer-nav li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li a{
    line-height: 30px;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 5px 0px;
    color: #7B8C8C;
    transition: all 0.2s ease-in-out;
}

.copyright{
    width: 100%;
    font-size: 12px; 
    color:#7b8c8c;
    text-align: center;
    margin: 0;
    padding: 40px 0 0;
}

.hi-count{
    color: #4FA6A5;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}
