*{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

*, p, span{
    box-sizing: border-box;
    margin: 0; 
    padding: 0
}

body{
    margin: 0;
    padding-left: 70px;
    padding-top: 150px;
    min-width: 1200px;
    opacity: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

input:focus,
input:hover,
button:focus,
button:hover{
    outline:0;
    -webkit-appearance: none;
}

button{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: none;
}

.box{
    padding: 50px 40px 20px;
}