
.lbp-mobile{
    display:none;
}

.is-required{
    border-color: #E01B67!important;
}

.error-message{
    display: block;
    color: #E01B67;
    font-size: 10px;
    opacity: 0;
    line-height: 12px;
}

.error-message.error{
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.contact-box input:-webkit-autofill,
.contact-box input:-webkit-autofill:hover, 
.contact-box input:-webkit-autofill:focus, 
.contact-box input:-webkit-autofill:active,
.contact-box textarea:-webkit-autofill,
.contact-box textarea:-webkit-autofill:hover, 
.contact-box textarea:-webkit-autofill:focus, 
.contact-box textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2d2d2d inset !important;
    color:#fff!important;
    -webkit-text-fill-color: #fff!important;
}

.w150{min-width: 150px;max-width: 150px;}
.w200{min-width: 200px;max-width: 200px;}
.h-auto{height: auto;}
.m0{margin: 0}
.ms0 .subscribe{margin: 0}
.mt22{margin-top: 22px;}
.mt30{margin-top: 30px;}
.mt44{margin-top: 44px;}
.mt48{margin-top: 48px;}
.mt90{margin-top: 90px;}

.mb100{margin-bottom: 100px!important;}

.pl-14{padding-left:14px;}

.pull-left{float:left;}
.pull-right{float:right;}

.b-top{border-top: 1px solid #eee;}
.b-bottom{border-bottom: 1px solid #eee;}
