.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70px;
    background:#fff;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    z-index: 99;
}

header{
    position: fixed;
    width: 100%;
    height: 150px;
    width: calc(100% - 70px);
    min-width: 1130px;
    display: flex;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255, 0.97);
    z-index: 90;
    top: 0;
    transition: all 0.3s ease-in-out;
}

header.min{
    padding: 10px 40px 10px;
    height: 80px;
}

.logo{
    width: 100px;
}

.logo > h1,
.logo > h2{
    line-height: 50px;
    font-size: 30px;
    color: #445050;
    font-weight: 400
}

.logo-line{
    width: 100px;
    height: 26px;
    border-bottom: 1px solid #D5D5D5;
    margin: 0px 10px 10px;
    transition: all 0.3s ease-in-out;
}

.main-nav ul li{
    list-style: none; 
    display: inline-block;
}

.main-nav ul li a{
    line-height: 50px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 10px;
    color:#445050;
    transition: all 0.2s ease-in-out;
}

.main-nav ul li a:hover, 
.main-nav ul li a.active,
.footer-nav li a:hover, 
.footer-nav li a.active{
    color: #4FA6A5;
    transition: all 0.2s ease-in-out;
}

.menu-item-type-custom{
    margin-left: 10px;
}

.menu-item-type-custom a:before{
    content: " ";
    display: block;
    position: absolute;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #4FA6A5;
    border-right: 6px solid transparent;
    margin-top: 21px;
}

.subscribe{
    width: 280px;
    margin-left: auto;
    position: relative;
}

.subscribe-field{
    width: 180px;
    height: 30px;
    float: left;
    color:#445050;
    padding: 1px 16px 0px;
    font-size: 12px;
    line-height: 30px;
    border: 1px solid #d5d5d5;
    border-right: 0;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.subscribe-field:focus{
    border: 1px solid #4FA6A5;
    border-right: 0;
    transition: all 0.2s ease-in-out;
}

.subscribe-btn{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background: #4FA6A5;
    border: 1px solid #4FA6A5;
    border-right: 0;
    cursor: pointer;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.1s ease-in-out;
}

.subscribe-btn:hover,
.subscribe-btn:focus{
    background: #3C8C8B;
    transition: all 0.1s ease-in-out;
}

.subscribe-text{
    font-size: 10px;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    position: relative;
}

.subscribe-text.error{
    color: #E01B67;
}

.subscribe-text:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    background:#fff;
    border:1px solid #D5D5D5;
    transition: all 0.2s ease-in-out;
}

.subscribe-text.error:before{
    border:1px solid #E01B67;
}

input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]:checked + label:before {
    background: #fff;
    border: 1px solid #4FA6A5
}

input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 6px;
    border: solid #4FA6A5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 3px;
    left: 5px;
}

input[type="checkbox"]:checked + label{
    color: #4FA6A5!important;
}

.invalid-email-error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #E01B67;
    color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 70px;
    left: 0;
    top: 30px;
    z-index: 9;
    transition: all 0.2s ease-in-out;
}

.invalid-email-error:before{
    content: " ";
    display: block;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 6px solid #E01B67;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -12px;
    margin-left: 10px;
}

.invalid-email + .invalid-email-error{
    visibility: visible;
    opacity: 1;
}