
.info-modal{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 360px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    z-index: 910;
    top: 20%;
    left: 50%;
    margin-left: -180px;
    transition: all 0s ease-in-out;
}

.info-modal.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.info-modal-icon{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.info-modal-icon.mail{
    background: #4FA6A5 url('imgs/icons/mail-send.png') no-repeat center;
    background-size: 50px;
}

.info-modal-icon.hi{
    background: #4FA6A5 url('imgs/icons/coffee-cup.png') no-repeat center;
    background-size: 50px;
}

.info-modal-icon.subscription{
    background: #4FA6A5 url('imgs/icons/subscription.png') no-repeat center;
    background-size: 50px;
}

.info-modal-footer {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d8d8d8;
}

.info-modal-footer .service-icon{
    margin: 0 8px;
}

.info-modal-header {
    text-align: center;
    padding: 0px 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #445050;
}

.info-modal-text {
    text-align: center;
    padding: 0px 20px;
    color: #445050;
    font-size: 13px;
}

.info-modal-text a{
    display: none;
}
