.latest-blog-posts{
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.latest-blog-post{
    list-style: none;
    width: 28%;
    height: 500px;
    position: relative;
}

.latest-blog-post-cover{
    height: 300px;
    width: 100%;
    background-size: cover!important;
    background-position: center!important;
}

.latest-blog-header{
    display:flex;
    margin-top: 20px;
}

.latest-blog-header > h4{
    color: #445050
}

.latest-blog-header > span{
    margin-left: auto;
}

.latest-blog-header > span > a{
    font-size: 11px;
    text-transform: uppercase;
    color: #4FA6A5;
    font-weight: 500;
}

.latest-blog-post-date{
    font-size: 11px;
    text-transform: uppercase;
    color: #7B8C8C;
    font-weight: 500;
}

.latest-blog-post-text{
    color: #445050;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.latest-blog-post-link{
    display:block;
    margin-left: auto;
    opacity: 1;
    position: relative;
    bottom: auto;
    right: auto;
    box-shadow: none;
}