@media screen and (min-width: 1600px) {
    .box {
      padding: 50px 15% 20px
    }
}

@media screen and (max-width: 1199px) {
  body{
    width: 100%;
    min-width: 100%;
  }

  header{
    min-width: calc(100% - 70px);
  }

  .services-box{
    width: 100%;
  }

  .service-box {
    width: 270px;
    padding: 20px;
  }

  .box {
    padding: 50px 40px 20px
  }

  .hide-mobile{
    display:none;
  }

  footer > div {
    width: 25%!important;
  }

  .tagline-services-list{
    width: 100%;
  }

  .main-text{
    width: 80%;
  }

  .logo-line{
    width: 40px;
    transition: all 0.3s ease-in-out;
  }

  .flex-type-1 > .story-box{
    flex-basis: calc(50% - 10px)!important;
  }

  .latest-blog-post{
    width: 32%;
  }

  .single-story-box{
    width: 100%;
    padding: 50px 40px;
  }
}

@media screen and (max-width: 999px) {
  
  .tagline-panel{
    height: auto;
  }

  .tagline-services-list{
    display:block;
  }

  .tagline-services-list li::before{
    display: none;
  }

  .tagline-services-list li{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .mobile-subscribe-btn{
    display: block!important;
    position: fixed;
    bottom: 40px;
    background: #4FA6A5 url(imgs/icons/subscription.png) no-repeat center;
    background-size: 20px!important;
    color: #fff;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    right: 40px;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
  }

 .mobile-subscribe-btn.open{
      background:#E01B67 url("imgs/icons/subscription.png") no-repeat center;
  }

  .subscribe{
    display:none;
  }

  .subscribe.mobile-subscribe{
      display: flex!important;
      position: fixed;
      top: 0px;
      background: #fff;
      width: 100%;
      padding: 30px 20px;
      left: 0px;
      justify-content: center;
      -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
  }

  footer > div {
    width: 50%!important;
  }

  .contact-box > div,
  .contact-box > div.confirm,
  .contact-box > div.message-box {
      width: 100%;
  }

  .range-slider{
      margin-bottom: 10px!important;
  }

  .range-placeholder{
      text-align: center;
      margin-bottom: 0!important;
  }

  .estimated-budget{
      margin-top: 10px;
      margin-bottom: 40px;
  }

  .contact-form-text{
      margin-left: 0;
      line-height: 24px;
  }

  .contact-form-text:before {
      width: 22px;
      height: 22px;
  }

  .service-box{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .service-header{
    margin-bottom: 20px;
  }

  .service-description{
    margin-bottom: 10px;
  }

  .service-list{
    height: auto;
  }

  .price-group {
    position: absolute;
    bottom: 20px;
    right: 50px;
  }

  .service-btn {
    position: absolute;
    bottom: -20px;
    right: 24px;
    left: auto;
  }

  .latest-blog-posts li:last-child{
    display:none;
  }

  .latest-blog-post{
    width: 48%;
  }
}

@media screen and (max-width: 800px) {

  .logo-line{
    width: 0px;
    transition: all 0.3s ease-in-out;
  }

  .flex-type-1 > .story-box{
    flex-basis: calc(100% - 10px)!important;
  }

  .blog-thumbnail{
    width: 100%;
  }

  .blog-box > a{
    display: block;
  }

}

@media screen and (max-width: 640px){
  body{
    width: 640px;
    min-width: 640px;
  }

  header{
    min-width: calc(640px - 70px);
  }
}