@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .si-facebook{
        background: url("imgs/icons/facebook@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-instagram{
        background: url("imgs/icons/instagram@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-linkedin{
        background: url("imgs/icons/linkedin@2x.png") no-repeat center;
        background-size: contain;
    }

    .si-facebook.hover:hover{
        background: url("imgs/icons/facebook-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-instagram.hover:hover{
        background: url("imgs/icons/instagram-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-linkedin.hover:hover{
        background: url("imgs/icons/linkedin-h@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-photoshop{
        background: url("imgs/icons/photoshop@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-illustrator{
        background: url("imgs/icons/illustrator@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-seo{
        background: url("imgs/icons/seo@2x.png") no-repeat center;
        background-size: contain;
    }
    
    .si-wordpress{
        background: url("imgs/icons/wordpress@2x.png") no-repeat center;
        background-size: contain;
    }

    .info-modal-icon.mail{
        background: #4FA6A5 url('imgs/icons/mail-send@2x.png') no-repeat center;
        background-size: 50px;
    }

    .info-modal-icon.hi{
        background: #4FA6A5 url('imgs/icons/coffee-cup@2x.png') no-repeat center;
        background-size: 50px;
    }

    .info-modal-icon.subscription{
        background: #4FA6A5 url('imgs/icons/subscription@2x.png') no-repeat center;
        background-size: 50px;
    }

    .service-list li{
        background: url("imgs/icons/list-icon@2x.png") no-repeat left center;
    }

    .mobile .main-nav li:first-child a{
        background: url("imgs/icons/mobile/blog@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(2) a{
        background: url("imgs/icons/mobile/stories@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(3) a{
        background: url("imgs/icons/mobile/services@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li:nth-child(4) a{
        background: url("imgs/icons/mobile/contact@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:first-child a{
        background: url("imgs/icons/mobile/blog-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(2) a{
        background: url("imgs/icons/mobile/stories-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(3) a{
        background: url("imgs/icons/mobile/services-h@2x.png") no-repeat center;
    }
    
    .mobile .main-nav li.current-menu-item:nth-child(4) a{
        background: url("imgs/icons/mobile/contact-h@2x.png") no-repeat center;
    }
}

