.services{
    background: url("imgs/services.jpg") no-repeat center;
    background-size: cover;
    height: auto; 
}

.services-box{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-box{
    width: 288px;
    height: 425px; 
    margin-bottom: 80px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 20px;
    position: relative;
}

.service-header{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.service-title{
    color: #445050;
    line-height: 16px;
}

.service-subtitle{
    font-family: 'Oswald', sans-serif;
    color: #4FA6A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.service-icons{
    margin-left: auto;
    display: flex;
}

.service-icon{
    display:block; 
    height: 20px; 
    width: 20px;
    margin-left: 15px;
}

.icon{
    display:block; 
    height: 20px; 
    width: 20px;
}

.si-facebook{
    background: url("imgs/icons/facebook.png") no-repeat center;
    background-size: contain;
}

.si-instagram{
    background: url("imgs/icons/instagram.png") no-repeat center;
    background-size: contain;
}

.si-linkedin{
    background: url("imgs/icons/linkedin.png") no-repeat center;
    background-size: contain;
}

.si-facebook.hover:hover{
    background: url("imgs/icons/facebook-h.png") no-repeat center;
    background-size: contain;
}

.si-instagram.hover:hover{
    background: url("imgs/icons/instagram-h.png") no-repeat center;
    background-size: contain;
}

.si-linkedin.hover:hover{
    background: url("imgs/icons/linkedin-h.png") no-repeat center;
    background-size: contain;
}

.si-photoshop{
    background: url("imgs/icons/photoshop.png") no-repeat center;
    background-size: contain;
}

.si-illustrator{
    background: url("imgs/icons/illustrator.png") no-repeat center;
    background-size: contain;
}

.si-seo{
    background: url("imgs/icons/seo.png") no-repeat center;
    background-size: contain;
}

.si-wordpress{
    background: url("imgs/icons/wordpress.png") no-repeat center;
    background-size: contain;
}

.service-description{
    font-size: 13px;
    color: #445050;
    margin-bottom: 40px;
}

.service-list{
    list-style: none;
    height: 132px; 
    margin-bottom: 30px;
}

.service-list li{
    background: url("imgs/icons/list-icon.png") no-repeat left center;
    padding-left: 20px;
    background-size: 12px!important;
}

.service-list > li p{
    font-size: 13px; 
    line-height: 22px;
    font-weight: 500;
    color: #445050
}

.price-group{
    display: flex;
    justify-content: center;
}

.price-group > span{
    font-size: 20px;
    color: #445050;
}

.price{
    font-size: 40px; 
    color: #4FA6A5;
    padding-left: 5px;
}

.service-btn {
    position: absolute;
    bottom: -20px;
    left: 64px;
    background: #4FA6A5;
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    line-height: 30px;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
    border: none;
}

.service-btn:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}