
.service-modal{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 600px;
    height: 440px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    z-index: 910;
    top: 20%;
    left: 50%;
    margin-left: -300px;
    transition: all 0s ease-in-out;
}

.service-modal-header{
    height:60px;
    padding: 20px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.service-modal-header h4 span{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #4FA6A5;
}

.close-modal{
    margin-left: auto;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    color: #445050;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: -15px;
    top: -15px;
    background: #fff;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.service-modal-content{
    height: 320px;
    padding: 20px;
    display: flex;
}

.service-modal-content-details,
.service-modal-content-form{
    width: 50%;
}

.service-modal-content-form > div{
    margin-bottom: 5px;
}

.service-modal-content-details h5,
.service-modal-content-form h5{
    margin-bottom: 20px;
}

.service-modal-footer{
    height:60px;
    padding: 20px;
    border-top: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.service-modal-footer > .buttons{
    margin-left: auto;
}

.buttons > button{
    border: none; 
    font-size: 14px;
    margin-left: 40px;
    text-transform: uppercase;
}

.cancel-btn{
    color: #7B8C8C
}

.submit-btn{
    color: #4FA6A5;
    font-weight: 500;
}

.modal-backdrop{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.6);
    z-index: 900;
    transition: all 0.6s ease-in-out;
}

.modal-backdrop.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.service-modal.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.service-modal-content-details .price-group{
    justify-content: start;
}

input[type='text']{
    width: 100%; 
    border:none; 
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px; 
    color: #445050; 
    height: 48px; 
    margin-bottom: 2px; 
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    padding: 0px 12px;
}

input[type='text']:focus{
    border-bottom: 1px solid #4FA6A5;
    outline: 0; 
}

textarea{
    width: 100%; 
    border:none; 
    border: 1px solid #d2d2d2;
    font-size: 12px; 
    color: #445050; 
    height: 80px; 
    margin-bottom: 2px; 
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    padding: 12px; 
    border-radius: 4px;
    resize: none;
    overflow: auto;
}

textarea:focus{
    outline: none; 
    border: 1px solid #4FA6A5;
}