.stories-panel{
    background: #ECF6F6;
}

.stories-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.story-box{
    height: 300px;
    background: #4FA6A5;
    margin: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    box-sizing: border-box;
    flex:1 1 auto;
}

.flex-type-1 > .story-box:nth-of-type(1),
.flex-type-1 > .story-box:nth-of-type(2),
.flex-type-1 > .story-box:nth-of-type(6),
.flex-type-1 > .story-box:nth-of-type(7){
    flex-basis: calc(30% - 10px);
}


.flex-type-1 > .story-box:nth-of-type(3),
.flex-type-1 > .story-box:nth-of-type(8){
    flex-basis: calc(40% - 10px);
}

.flex-type-1 > .story-box:nth-of-type(4){
    flex-basis: calc(65% - 10px)
}
.flex-type-1 > .story-box:nth-of-type(5){
    flex-basis: calc(35% - 10px)
}

.story-details{
    background: rgba(68,80,80,0.6);
    height: 80px;
    width: 100%;
    padding: 10px 8px;
    position: absolute;
    bottom: -80px;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: all 0.3s ease-in-out;
}

.story-box:hover .story-details{
    bottom: 0px;
}

.story-user-image{
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #333;
    margin-right: 12px;
    background-size: cover!important; 
}

.story-user-details{
    width: 170px;
}

.user-name{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
}

.user-followers{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #d2d2d2;
    line-height: 12px;
}

.user-followers-count{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.story-user-link{
    display: block;
    background: #4FA6A5;
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    margin-left: auto;
    bottom: 24px;
    right: 10px;
}

.story-user-link:hover{
    background: #3C8C8B;
    color:#fff;
    transition: all 0.1s ease-in-out;
}