.single-story-box{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.single-story-header{
    padding: 20px 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.single-story-header .user-name{
    color: #445050;
}
.single-story-header .user-followers{
    color: #445050;
    float:left;
    margin-right: 20px;
}

.single-story-header .story-user-details {
    width: 300px;
}

.single-story-header .user-followers-count{
    color: #4FA6A5;
}

.single-story-content{
    padding: 20px 20px;
    background: #fff;
}

.content-block{
    padding: 20px 0px;
}

.content-title{
    color: #445050;
    margin-bottom: 15px;
}

.content-text,
.content-text *{
    color: #445050;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.content-text h2{
    margin-bottom: 10px;
}

.content-text a{
    font-weight:bold;
    text-decoration: none;
    color: #4FA6A5;
}

.content-text a:hover{
    color: #3C8C8B;
}

.story-image-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 40px 0px 25px;
}

.image-grid.image{
    flex-basis: 30%; 
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 300px;
    background-size: cover!important;
}

.chart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chart > .content-title{
    flex-basis:50%
}

.chart-block{
    flex-basis: 50%;
    margin: 40px 0px;
    text-align: center;
}

/* polygon#main-chart-before,
polygon#main-chart-after {
    stroke: #A8D2D1;
    stroke-width: 6px;
    stroke-linejoin: round;
}

polygon#bg-chart-before,
polygon#bg-chart-after {
    stroke: #7CBCBA;
    stroke-width: 6px;
    stroke-linejoin: round;
} */