.tagline-panel{
    width: 100%;
    height: 425px;
}

.main-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:#445050;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
}

.highlight-text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color:#4FA6A5;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

.tagline-services-list{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.tagline-services-list li {
    list-style: none;
    padding-left: 20px;
}

.tagline-services-list li::before {
    content: "\2022";
    font-size: 30px;
    color: #4FA6A5;
    position: absolute;
    margin-left: -20px;
    line-height: 20px;
}

.tagline-services-list li > p{
    font-size: 14px;
    color: #445050;
}

.tagline-services-list li > p.sub{
    font-size: 10px;
    color: #445050;
    line-height: 12px;
    color: #4FA6A5;
    text-transform: uppercase;
    font-weight: 500;
}