
body.mobile{
    min-width: 100%;
    width: 100%;
    padding: 0;
}

.mobile .box{
    padding: 50px 20px 20px;
}

.mobile div.box{
    height: auto;
}

body.fade-in{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.mobile .side-bar{
    width: 100%;
    height: 40px;
    top: auto;
    bottom: 0;
    z-index: 1000;
}

.mobile .social-media-links{
    height: 40px;
    display: flex;
    margin-top: 0;
    top: 0;
    justify-content: center;
}

.mobile .social-media-links a{
    height: 30px;
    display: flex;
    margin-top: 0;
    top: 0;
    margin: 10px 25px 0 25px;
}

.mobile header{
    width: 100%;
    min-width: 100%;
    bottom: 40px;
    top: auto;
    height: 60px;
    padding: 0!important;
    z-index: 999;
}

.mobile .logo-line{
    display: none;
}

.mobile .logo{
    width: 30%;
    text-align: center;
    height: 60px;
}

.mobile .logo h1{
    line-height: 60px;
    font-size: 26px;
    height: 55px;
    margin-top: 3px;
}

.mobile .main-nav{
    width: 70%;
}

.mobile .main-nav li{
    width: 25%;
    margin: 0;
    text-align: center;
}

.mobile .main-nav li a{
    display: block;
    width: 100%;
    padding: 0;
    color: transparent!important;
    background-size: 20px!important;
    height: 60px;
}

.mobile .main-nav a:before{
    display: none;
}

.mobile #menu-header-menu{
    display: flex;
}

.mobile .subscribe{
    display:none;
}

.mobile .main-nav li:first-child a{
    background: url("../modules/imgs/icons/mobile/blog.png") no-repeat center;
}

.mobile .main-nav li:nth-child(2) a{
    background: url("../modules/imgs/icons/mobile/stories.png") no-repeat center;
}

.mobile .main-nav li:nth-child(3) a{
    background: url("../modules/imgs/icons/mobile/services.png") no-repeat center;
}

.mobile .main-nav li:nth-child(4) a{
    background: url("../modules/imgs/icons/mobile/contact.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:first-child a{
    background: url("../modules/imgs/icons/mobile/blog-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(2) a{
    background: url("../modules/imgs/icons/mobile/stories-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(3) a{
    background: url("../modules/imgs/icons/mobile/services-h.png") no-repeat center;
}

.mobile .main-nav li.current-menu-item:nth-child(4) a{
    background: url("../modules/imgs/icons/mobile/contact-h.png") no-repeat center;
}

.mobile .main-text{
    width: 100%;
    font-size: 26px;
    line-height: 34px;
}

.mobile .tagline-services-list{
    width: 100%;
    display: block; 
    text-align: center;
    margin-bottom: 40px;
}

.mobile .tagline-services-list li{
    list-style: none; 
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.mobile .tagline-services-list li:before{
    display: none;
}

.mobile .tagline-services-list li > p{
    font-size: 16px;
}

.mobile .tagline-services-list li > p.sub{
    font-size: 12px;
}

.mobile .story-box{
    flex-basis: 100%!important;
}

.mobile .story-details{
    bottom: 0;
}

.mobile .mb100{
    margin-bottom: 50px!important;
}

.mobile .services-box{
    width: 100%;
    display: block;
}

.mobile .service-box{
    margin: 0 auto;
    margin-bottom: 40px;
    height: auto;
}

.mobile .service-description{
    margin-bottom: 20px;
}

.mobile .service-list{
    height: auto;
    margin-bottom: 20px;
}

.mobile .lbp-mobile{
    display:block;
}

.mobile .lbp-desktop{
    display:none;  
}

.mobile .latest-blog-posts li:nth-child(2),
.mobile .latest-blog-posts li:nth-child(3){
    display:none;
}

.mobile .latest-blog-post{
    width: 100%;
}

.mobile .contact-box > div,
.mobile .contact-box > div.confirm,
.mobile .contact-box > div.message-box {
    width: 100%;
}

.mobile .range-slider{
    margin-bottom: 10px!important;
}

.mobile .range-placeholder{
    text-align: center;
    margin-bottom: 0!important;
}

.mobile .estimated-budget{
    margin-top: 10px;
    margin-bottom: 40px;
}

.mobile .contact-box > div.confirm{
    justify-content: initial;
}

.mobile .contact-form-text{
    margin-left: 0;
    line-height: 24px;
}

.mobile .contact-form-text:before {
    width: 22px;
    height: 22px;
}

.mobile input[type="checkbox"]:checked + label.contact-form-text:after {
    width: 6px;
    height: 12px;
    border-width: 0 4px 4px 0;
    top: 3px;
    left: 7px;
}

.mobile footer > div{
    width: 50%!important;
}

.mobile footer .logo{
    text-align: left;
}

.mobile .single-story-box{
    width: 100%;
    padding: 50px 20px;
}

.mobile .single-story-box h1{
    text-align: center;
}

.mobile .blog-box > a{
    display: block;
}

.mobile .blog-thumbnail {
    width: 100%;
    overflow: hidden;
}

.mobile .blog-hero{
    display: none; 
    background: none!important;
}

.mobile .blog-content{
    padding: 20px 20px 40px;
}

.mobile .single-story-header,
.mobile .single-story-content{
    padding: 20px 0px;
}

.mobile .single-story-header{
    display: block;
    padding-top: 0px;
}

.mobile .single-story-header .story-user-image{
    margin: 0 auto;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}

.mobile .single-story-header .user-name{
    font-size: 26px;
    margin-bottom: 10px;
}

.mobile .single-story-header .story-user-details{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.mobile .single-story-header .user-followers{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    float: none;
}

.mobile .single-story-header .story-user-link{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    line-height: 34px;
}

.mobile .story-image-grid{
    padding: 15px 0 15px;
    justify-content: space-between;
}

.mobile .image-grid.image{
    height: 100px;
}

.mobile .hide-mobile{
    display: none;
}

.mobile footer{
    padding-bottom: 140px!important;
}


.mobile .blog-box{
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.mobile .service-modal{
    width: calc(100% - 10px);
    left: 5px;
    margin-left: 0;
    top: auto;
    bottom: 10px;
    height: auto;
}

.mobile .close-modal{
    top: -45px;
    right: 0px;
}

.mobile .info-modal{
    width: calc(100% - 10px);
    left: 5px;
    margin-left: 0;
    top: 60px;
}

.mobile input[type='text']{
    height: 28px;
}

.mobile .service-modal-content-details{
    display: none;
}

.mobile .service-modal-content-form{
    width: 100%;
}

.mobile .service-modal-content{
    height: 260px;
}

.mobile-subscribe-btn{
    display:none;
}

.mobile .mobile-subscribe-btn{
    display:block;
    position: fixed;
    bottom: 120px;
    top:auto;
    background:#4FA6A5 url("../modules/imgs/icons/subscription.png") no-repeat center;
    background-size: 20px!important; 
    color: #fff;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    right: 10px;
    -webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
}

.mobile .subscribe-btn{
    line-height: 28px;
}

.mobile .mobile-subscribe-btn.open{
    bottom: 140px;
    background:#E01B67 url("../modules/imgs/icons/subscription.png") no-repeat center;
}

.mobile .subscribe.mobile-subscribe{
    display: flex!important;
    position: fixed;
    bottom: 40px;
    top: auto;
    background: #fff;
    width: 100%;
    padding: 12px 20px;
    left: 0px;
    justify-content: center;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.mobile.keyboard header,
.mobile.keyboard .side-bar,
.mobile.modal-open .side-bar,
.mobile.modal-open header{
    display: none;
}

.mobile .single-story-box .latest-blog-post-date {
    width: 100%;
    text-align: center;
    display: block;
}

.mobile .single .tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile .single .tag-list li{
    margin: 5px;
}

.mobile .blog-tags.single{
    height: auto;
}

.mobile .subscribe-text{
    margin-top: 12px;
}

.mobile .stories-box {
    height: 930px;
    overflow: hidden;
}
